@model Auction.Web.InputModels.City.CityCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center p-3 w-30 mx-auto mt-3">
    <h3 class="text-center p-3 w-30 mx-auto">Add City</h3>
    <small class="text-muted">Where you can locate an auction house after</small>
    <form method="post" action="/Administration/City/Create" id="cityCreateForm" class="p-3 mx-auto mt-3 ">
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Name" class="h4">Name</label>
            </div>
            <input type="text" class="form-control text-center" id="name" placeholder="Name..."
                   asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <hr class="hr-2 mt-4">
        <div class="d-flex justify-content-center mt-3">
            <button id="Btns" class="btn btn-primary">Create City</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
