
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-box text-center mt-5">
    <h1 class="error-heading">404</h1>
    <h5>The page you were looking for could not be found</h5>
    <small class="text-muted">Looks like you got lost?</small>
</div>
<div class="text-center">
    <a id="Btns" class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Home</a>
</div>