
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-box text-center mt-5">
    <h1 class="error-heading">Oops</h1>
    <h5>An error occured while processing your request</h5>
    <p>Please try again later</p>
</div>
<div class="text-center">
    <a id="Btns" class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Home</a>
</div>