
@{
    ViewData["Title"] = "Contact us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr-2" />
<div class="d-flex justify-content-around row mt-5">
    <div id="information-holder" class="w-45">
        <h4 class="text-center">Go Auction</h4>
        <h6 class="text-center text-muted">Sofia, Kapitan Dimitar Spisarevski 1</h6>
        <p class="text-center text-muted">Phone: 088888888</p>
        <hr class="md-0" />
        <h4 class="text-center text-muted mt-4">Email</h4>
        <h6 class="text-center mt-3">GoAuction@gmail.com</h6>
        <div class="text-center mt-5">
            <h6 class="mb-3 text-muted">Follow us!</h6>
            <a href="https://www.facebook.com/" class="mr-1"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="mr-1"><i class="fab fa-google"></i></a>
            <a href="https://twitter.com" class="mr-1"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" class="mr-1"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="map-holder">
        <div class="mapouter mt-3">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Drujba%20dimity%20spisarevski%201&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>
<hr class="mt-5"/>